/* src/components/AddIPTVUrlPage.css */
.add-iptv-url-page {
    background-color: #f8f9fa; /* Light background color */
    padding: 40px 0;
  }
  
  .add-iptv-url-page h1 {
    margin-bottom: 30px;
  }
  